@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/*-------------------------------------------------  AJUSTES PRINCIPALES/DETALLES ------------------------------------------------*/

* {
  font-family: "Raleway", sans-serif;
}



.lineaseparadora-clara {
  width: 300px;
  margin-left: 80px;
  height: 2px;
  background-color: rgb(252, 252, 252);
  border: 0;
}

.lineaseparadora-oscura {
  width: 300px;
  margin-left: 80px;
  height: 2px;
  background-color: #393939;
  border: 0;
}

.tituloamarillo {
  color: #eec81a;
  padding-top: 50px;
  padding-left: 80px;
  font-size: 35px;
  margin: 0 auto;
}

span {
  color: #eec81a;
  font-weight: bold;
}

body {
  margin: 0;
}

/*-------------------------------------------------  HEADER ------------------------------------------------*/

header {
  background-color: rgb(255, 255, 255);
  height: 65px;
  width: 100vw;
  padding: 0;
  box-shadow: 0 5px 10px rgba(61, 61, 61, 0.2);
  position: fixed;
  top: 0;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

#logoprincipal {
  width: 60px;
  left: 15px;
  position: absolute;
}

.botonheader {
  margin: 0px 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.botonheader:hover {
  color: #eec81a;
}

/*-------------------------------------------------  SECCION ------------------------------------------------*/

#proyectos h2,h5 {
  text-align: center;
  margin-top: 30px;
  padding: 0;
}

#proyectos {
  margin-top: 100px;
}

/*-------------------------------------------------  APP ------------------------------------------------*/


.appcontainer {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-family: "Raleway", sans-serif;;
}

#palabra {
  box-shadow: 1px -1px 42px -10px rgba(238, 199, 26, 0.538);
  border: solid 2px #eec71a66;
}

#palabra,
#resultado {
  width: 90%;
  height: 12%;
  border-radius: 7px;
  background-color: white;
  margin: 2em;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  transition: height, font-size, box-shadow, 1s;
}

#palabra:focus {
  box-shadow: 1px -1px 300px -5px #f8cd0d;
  height: 20%;
  width: 100%;
  font-size: larger;
  outline: none;
}

#resultado {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: dashed 3px #f0c81592;
}

#resultado > p {
  opacity: 35%;
  padding: 0;
  margin: 0;
}

#submit {
  border-radius: 7px;
  border: solid 2px #eec71a66;
  color: #393939;
  font-size: 14px;
  font-weight: bold;
  background: #eec81a;  
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#limpiar {
  border-radius: 7px;
  border: solid 2px #eec71a66;
  color: #393939;
  font-size: 14px;
  font-weight: bold;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#submit:hover, #limpiar:hover {
  box-shadow: 1px -1px 10px -5px #727272;
}

.botones {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.informacion {
  width: 40%;
  margin: 0% 30%;
  opacity: 100%;
  border: solid 1px #f0c81592;
  border-radius: 7px;
  padding: 15px;
  background-color: #e9e9e96b;
  font-size: 0.9em;
  line-height: 1.8em;
}


/*-------------------------------------------------  FOOTER ------------------------------------------------*/

footer {
  background-color: #eec81a;
  margin-top: 30px;
  box-shadow: 2px -3px 23px -10px rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  position: fixed;
  bottom: 0;
}

#logosredes {
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px 0px 20px;
}

.logoredsocial {
  padding: 0 10px;
}

footer div {
  margin-left: 50px;
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: none;
  color: white;
  background-color: #393939;
}