@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/*-------------------------------------------------  AJUSTES PRINCIPALES/DETALLES ------------------------------------------------*/

* {
  font-family: "Raleway", sans-serif;
}

.fondo-claro {
  background-color: #f9f9f9;
}

.fondo-oscuro {
  background-color: #393939;
}

.lineaseparadora-clara {
  width: 50%;
  margin: 2% 25%;
  opacity: 40%;
}

.lineaseparadora-oscura {
  width: 300px;
  margin-left: 80px;
  height: 2px;
  background-color: #393939;
  border: 0;
}

.tituloamarillo {
  color: #eec81a;
  padding-top: 50px;
  padding-left: 80px;
  font-size: 35px;
  margin: 0 auto;
}

span {
  color: #eec81a;
  font-weight: bold;
}



body {
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

/*-------------------------------------------------  HEADER ------------------------------------------------*/

header {
  background-color: rgb(255, 255, 255);
  height: 65px;
  padding: 0;
  box-shadow: 0 5px 10px rgba(61, 61, 61, 0.2);
  position: sticky;
  top: 0;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

#logoprincipal {
  width: 60px;
  left: 15px;
  position: absolute;
}

.botonheader {
  margin: 0px 30px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.botonheader:hover {
  color: #eec81a;
}
/*-------------------------------------------------  INICIO ------------------------------------------------*/

#inicio {
  display: flex;
  height: 92vh;
  width: 100%;
}

#titularesinicio {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 90px;
}

#titularesinicio h1 {
  font-size: 90px;
  font-weight: 600;
  padding: 0px 30px 0px 80px;
  color: #eec81a;
  margin-bottom: 0;
  margin-top: 0px;
}

#titularesinicio h2 {
  font-size: 30px;
  font-weight: 500;
  padding: 0px 0px 0px 80px;
  margin: 0px;
}

#imagendeinicio {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

#imagendeinicio img {
  /* width: auto; */
  height: 80%;
}

/*-------------------------------------------------  SOBRE MI ------------------------------------------------*/

#sobremi {
  width: 50%;
  margin: 5% 25%;
  border: solid 5px #eec81a;
  box-shadow: -1px -1px 100px -23px rgba(0, 0, 0, 0.40);
  padding: 40px;
  box-sizing: border-box;
  color: #393939;
}

#sobremi h2 {
  text-align: center;
}

.sobremi-lenguajes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.sobremi-lenguajes img {
  width: 30%;
  margin: 40% 3%;
  overflow: hidden;
}

#sobremi p {
  font-size: 1.1em;
  text-align: justify;
  line-height: 2em;
  margin-top: 5%;
}


.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 8);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 50%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-150px * 4));
    transform: translateX(calc(-150px * 4));
  }
}

/*-------------------------------------------------  FOOTER ------------------------------------------------*/

footer {
  background-color: #eec81a;
  margin-top: 30px;
  box-shadow: 2px -3px 23px -10px rgba(0, 0, 0, 0.3);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

#logosredes {
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px 0px 20px;
}

.logoredsocial {
  padding: 0 10px;
}

footer div {
  margin-left: 50px;
}

footer p {
  margin: 0px;
}

footer a {
  text-decoration: none;
  color: white;
  background-color: #393939;
}
